.web-development {
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;

    .intro-section {
        text-align: center;


        h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    }

    .skills-section {

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
        }

        .skills-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            list-style: none;
            padding: 20px;
            transition: transform 0.3s;

            :hover {
                background: #421057;
                transform: scale(1.05);
                transition: transform 0.3s;

            }

            li {
                font-size: 1.1rem;
                background: #146980;
                padding: 10px 15px;
                border-radius: 5px;
                color: #fff;
                text-align: center;
                transition: transform 0.3s;
            }

        }
    }

    .projects-section {
        text-align: center;
        h2{
            font-size: 2rem;
            margin-bottom: 30px;
        }
        .project-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #5a01a2;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            .project-details {
                flex: 1;
                padding-right: 20px;
            
                h3 {
                    font-size: 1.8rem;
                    color: #ffffff;
                }
            
                p {
                    font-size: 1.1rem;
                    margin: 10px 0;
                }
            
                .visit-button {
                    display: inline-block;
                    background: #146980;
                    color: #fff;
                    padding: 10px 15px;
                    text-decoration: none;
                    border-radius: 8px;
                    font-weight: bold;
                    transition: background 0.3s ease;
            
                    &:hover {
                        background: #0e4e5a;
                    }
                }
            
                .project-screenshot {
                    display: block;
                    width: 75%;
                    height: auto;
                    margin: 0 auto;
                    border-radius: 10px;
                    margin-top: 10px;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                }
                .youtube{
                    display: block;
                    width: 75%;
                    height: auto;
                    height: 500px;
                    margin: 0 auto;
                    border-radius: 10px;
                    margin-top: 10px;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                }
            }
            
            .qr-code-section {
                display: flex;
                flex-direction: column;
                align-items: center;
            
                .qr-code {
                    width: 250px;
                    height: auto;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }
            
                h3 {
                    font-size: 1.5rem;
                    color: #ffffff;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }

    // Responsive Design
    @media (max-width: 1024px) {
        .projects-wrapper .project-card {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 768px) {
        .projects-wrapper .project-card {
            width: 100%;
        }

        .skills-list {
            flex-direction: column;
        }
    }
}