*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(40, 40, 40);
    background: #04011d;
    
}