.home {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .presentation-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .presentation {
            padding: 20px;
            flex: 1;
            max-width: 800px;
            text-align: left;

            h1 {
                font-size: 2rem;
                margin-bottom: 10px;
                font-weight: 700;
            }

            h2 {
                font-size: 2.5rem;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 1.5rem;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            .typewriter-effect{
                font-size: 1rem;
                font-style: italic;
            }
            .explore-button {
                margin-top: 20px;
                padding: 12px 24px;
                font-size: 16px;
                background-color: transparent;
                color: white;
                border: 2px solid white;
                border-radius: 5px;
                cursor: pointer;
                transition: transform 0.3s, background-color 0.3s;

                a {
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                    transform: scale(1.1);
                }
            }
        }

        .presentation-image {
            flex: 1;
            max-width: 500px;
            text-align: center;
            margin: 20px;

            .profile-image {
                max-width: 100%;
                border-radius: 50%;
            }
        }
    }

    .skills-wrapper {
        margin-top: 50px;
        text-align: center;
        
        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .skills-grid {
            padding: 50px;
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            .skill-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                text-align: center;
                transition: transform 0.3s;
                
                img {
                    max-width: 80px;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 1.2rem;
                    color: white;
                }

                &:hover {
                    transform: scale(1.05);
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .presentation-wrapper {
        flex-direction: column;
        text-align: center;

        .presentation,
        .presentation-image {
            max-width: 100%;
        }
    }

    .skills-grid {
        flex-direction: column;
    }
}
