.home {
    color: white;
}

.presentation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .column {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;

            .presentation{
                margin: 10px;
                padding: 20px;
                background-color: red;
               
            }
            .presentation-image{
                margin: 10px;
                height: 100px;
                background-color: white;
                text-align: center;
            }
        }
    }
}
@media (max-width: 800px) {
    .presentation-wrapper{
      flex-direction: column;
    }
  }